html,
body {

}

* {
  box-sizing: border-box;
}
img{
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
.hero__overlay::before {
  display: none;
}

a:focus {
  opacity: 1;
}

input, select {
  &:focus, &:active {
    outline: none;
  }
}

.page-width {
  width: 100%;
  padding: 0 10px;
  max-width: 100%;
}

.site-header {
  padding: 0;
  .site-header__logo {
    margin: 0;
  }
}

.site-header__logo {
  img {
    background: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;
  }

  // max-width: 70%;
}

.grid--view-items {
  overflow: initial;
}

.ajaxified-cart-feedback.success {
  color: #eba820 !important;
  background: #e7e7b0;
  margin-bottom: 10px;
  // position: absolute;
  // left: 15px;
  // width: 250px;
  // bottom: 0px;
}

.container {
  padding-bottom: 0;
}

.background-top {
  background-color: #aaa92f;
  height: 41px;
  line-height: 41px;
  margin-left: -10px;
  margin-right: -10px;
}

.template-index {
  div#shopify-section-header {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

[class*="template-"]:not(.template-index) #shopify-section-footer {
  margin-top: 162px;
}

.template-product #shopify-section-footer {
  margin-top: 0px !important;
}

ul.wrap-social {
  z-index: 10;
  position: fixed;
  right: 0;
  top: 45%;
  li {
    padding: 23px;
    text-align: center;
    a {
      color: #fff;
    }
    .icon {
      width: 40px;
      height: 40px;
    }
    &:first-child {
      border-top-left-radius: 12px;
    }
    &:last-child {
      border-bottom-left-radius: 12px;
    }
  }
  .social_facebook_link {
    background-color: #3b5998;
  }
  .social_twitter_link {
    background-color: #1da1f2;
  }
  .social_instagram_link {
    background-color: #5851db;
  }
  .social_quote_link {
    background-color: #eba820;
  }
}

.static-page {
  float: right;
  margin-right: 35px;
  ul {
    li {
      display: inline-block;
      padding: 0 15px 0 20px;
      a {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: #4b3027;
      }
    }
    .about-link {
      background: url(icon_about_us.svg) left center no-repeat;
    }
    .faq-link {
      background: url(icon_faq.svg) left center no-repeat;
    }
    .contact-link {
      background: url(icon_contact.svg) left center no-repeat;
    }
  }
}

a.large--hide.medium-down--show.cart__remove {
  display: none;
}

div#shopify-section-header {
  .site-header {
    background: transparent;
    border: none;
    .logo-align--left {
      position: relative;
      top: -50px;
    }
  }
  .wrap-customer {
    float: right;
    margin-right: 24px;

    a {
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      color: #4b3027;
    }
    .account {
      text-transform: capitalize;
      &:hover {
        opacity: 1;
      }
      span {
        color: #fff;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .wrap-cart {
    float: right;
    background: #eba820 url(cart.png) center center no-repeat;
    width: 70px;
    height: 50px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    a {
      width: 70px;
      height: 50px;
      display: block;
    }
    .site-header__cart-count {
      display: flex;
      position: absolute;
      top: 12px;
      font-weight: bold;
      color: #fff;
      min-width: 16px;
      border-radius: 50%;
      background-color: #aaa92f;
      width: 17px;
      height: 17px;
      right: 10px;
      align-items: center;
      justify-content: center;
      span {
        padding: 0;
      }
    }
  }
  h1.h2.site-header__logo {
    margin-top: 0;
  }
  .site-nav {
    margin: 0;
  }
  .wrap-menu-top {
    padding-top: 56px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    .wrap-search {
      overflow: hidden;
      margin-left: 18px;
      input {
        background-color: transparent;
        border-radius: 0px;
        padding: 0px;
        border-bottom: 1px solid #fff;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        width: 120px;
        padding-bottom: 3px;
        color: #fff;
        &:focus, &:active {
          outline: none;
        }
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #fff;
          opacity: 1;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #fff;
          opacity: 1;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #fff;
          opacity: 1;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #fff;
          opacity: 1;
        }
      }
      form.search-header.search {
        position: relative;
        .icon {
          fill: #e3c71f !important;
        }
      }
    }
  }
}

div#PageContainer {
  .index-section {
    padding-top: 40px;
    padding-bottom: 0;
    .wrap-slider.container {
      padding-top: 328px;
      padding-left: 408px;
      h2.h1.mega-title.mega-title--large {
        font-family: 'BerkshireSwash-Regular';
        color: #ffffff;
        font-size: 70.64px;
        font-weight: 400;
        text-align: center;
        transform: scaleX(1.0032);
      }
      .hero__btn {
        color: #000;
        background-color: #eba820;
        width: 254px;
        height: 65px;
        line-height: 65px;
        padding: 0;
        color: #fff;
        font-size: 28.39px;
        font-weight: 400;
        text-align: center;
        transform: scaleX(1.0024);
        border-radius: 10px;
        &:hover {
          opacity: 0.96;
        }
      }
      p {
        color: #4c2f27;
        font-size: 57.63px;
        font-weight: 300;
        text-align: center;
        transform: scaleX(1.0032);
        text-transform: uppercase;
      }

    }
    .hero--x-large {
      height: 840px;
    }
  }
}

.full-section-brands {
  background-color: #f5f5f5;
  padding: 40px 0;
  #wrap-brands {
    max-width: 1065px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li{
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        width: 32%;
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
    .text-center.title {
      h2 {
        color: #b7b7b7;
        font-size: 27px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 50px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }
}

.wrap-img-text-box {
  @media (min-width: 1024px) {
    padding-top: 55px;
  }
  .wrap-img-text {
    max-width: 1335px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    h2.h3 {
      color: #4b3027;
      font-size: 30px;
      font-weight: 400;
      text-align: center;
      font-family: 'BerkshireSwash-Regular';
      margin-bottom: 10px;
    }
    .wrap-bg-overlay {
      margin-top: 55px;
      background: #e7e7b0;
      left: -75px;
      position: relative;
      padding: 35px 45px;
      @media (min-width: 1024px) {
        width: 710px;
      }
      &:after {
        content: '';
        background: url(list.png) center center no-repeat;
        width: 62px;
        height: 78px;
        position: absolute;
        top: -20px;
        right: -15px;
      }
      &:before {
        content: '';
        background: url(ball.png) center center no-repeat;
        width: 135px;
        height: 178px;
        position: absolute;
        bottom: -40px;
        left: -55px;
      }
      p {
        color: #8c6254;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        line-height: 23px;
      }
      .rte-setting.featured-row__subtext p:first-child {
        color: #4b3027;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
      }
      .wrap-box-circle {
        overflow: hidden;
        .block-text {
          text-align: center;
          float: left;
          width: 50%;
          padding-top: 15px;
          p {
            color: #4b3027;
            font-size: 13.96px;
            font-weight: 600;
            font-style: italic;
            text-align: center;
            transform: scaleY(1.0031);
            text-transform: uppercase;
            padding-top: 10px;
          }
          .wrap-circle {
            border-radius: 50%;
            background-color: #ffffff;
            width: 88px;
            height: 88px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
          }
        }
      }

    }
  }
}

.feature-row__image {
  box-shadow: 0px 1px 32px 0px rgba(35, 31, 32, 0.11);
}

.template-index .wrap-owl-item,
.template-product .wrap-owl-item {
  padding-top: 100px;
  padding-bottom: 87px;
}

.wrap-owl-item {
  background: #f5f5f5;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    background: url(ball_big.png) no-repeat;
    width: 339px;
    height: 401px;
    position: absolute;
    top: -31px;
    right: -75px;
  }
  @media (min-width: 1025px) {
    margin-top: 60px;
  }
  .section-header {
    margin-bottom: 74px;
    h2 {
      color: #442f2f;
      font-size: 30px;
      font-weight: 400;
      font-family: 'BerkshireSwash-Regular';
      text-transform: capitalize;
      margin: 0;
      position: relative;
      &:after {
        content: '';
        background: url(list_small.png) center top no-repeat;
        width: 33px;
        height: 28px;
        position: absolute;
        top: -30px;
        left: 49.5%;
      }
    }
    p {
      color: #442f2f;
      font-size: 30px;
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .wrap-featured-img {
    background: #fff;
    position: relative;
    @media (min-width: 1025px) {
      padding: 60px 27px;
    }
    box-shadow: -1px -3px 24px 0px rgba(35, 31, 32, 0.08);
    text-align: center;
    img {
      max-width: initial;
    }
    #AddToCart-product-template {
      position: absolute;
      bottom: 0;
      right: 0;
      background: #eba820 url(cart_featured.png) 14px center no-repeat;
      width: 60px;
      height: 60px;
      border: none;
      font-size: 0;
      &:hover {
        opacity: 0.90;
      }
    }
  }
  .owl-item {
    padding: 0 50px;
    .h4.grid-view-item__title {
      color: #4b3027;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      margin-top: 44px;
      font-family: "Lato", "HelveticaNeue", "Helvetica Neue", sans-serif;
    }
    .grid-view-item__meta {
      text-align: center;
      margin-top: 0px;
      span.product-price__price {
        color: #aaa92f;
        font-size: 24px;
        font-weight: 700;

      }
    }

  }

  .owl-controls {
    position: absolute;
    top: 30%;
    width: 100%;
    .owl-prev {
      position: absolute;
      left: 0;
      @media (min-width: 1366px) {
        left: -22px;
      }
      font-size: 0;
      background: url(arrow_left.png) center top no-repeat;
      width: 25px;
      height: 45px;
    }
    .owl-next {
      position: absolute;
      right: 0;
      @media (min-width: 1366px) {
        right: -22px;
      }
      font-size: 0;
      background: url(arrow_right.png) center top no-repeat;
      width: 25px;
      height: 45px;
    }
  }
}

.site-footer {
  background: #4b3027;
  padding-top: 107px;
  margin: 0;
  position: relative;
  &:after {
    content: '';
    background: url(footer_logo.png) no-repeat;
    width: 197px;
    height: 56px;
    position: absolute;
    top: -44px;
    left: 50%;
    margin-left: -98px;
  }
  h2.block-custom-fonts {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    font-family: 'BerkshireSwash-Regular';
    text-transform: capitalize;
  }
  .site-footer__linklist {
    @media (min-width: 767px) {
      margin-top: 45px;
    }
    .site-footer__linklist-item {
      padding: 0;
      a {
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        text-align: left;
        letter-spacing: 1.6px;
      }
    }
  }
  .footer__newsletter {
    p {
      color: #fff;
      letter-spacing: 1.3px;
      font-weight: 100;
      font-size: 18px;
      margin-bottom: 30px;
      margin-top: 23px;
    }
    .form--success{
      color: #000;
    }
    input#Email {
      border-bottom-left-radius: 9px;
      border-top-left-radius: 9px;
      height: 62px;
    }
    button#Subscribe {
      border-bottom-right-radius: 9px;
      border-top-right-radius: 9px;
      background: #eba820 url(hand_white.png) center center no-repeat;
      height: 62px;
      width: 82px;
      &:hover {
        opacity: 0.95;
      }
    }
  }

  .social-icons {
    margin-top: 0px;
    li {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      width: 57px;
      height: 57px;
      border: 1px solid #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 53px;
      margin-right: 17px;
      .icon {
        fill: #fff !important;
      }
    }
  }
  .wrap-money-social {
    margin-top: 35px;
    .block-money {
      float: left;
      margin-right: 25px;
      img {
        border-radius: 5px;
      }
    }
  }
  .block-copy {
    background-color: #3b241d;
    height: 73px;
    line-height: 15px;
    @media (min-width: 767px) {
      margin-top: 125px;
    }
    .site-footer__copyright--bottom {
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      text-align: left;
      a {
        color: #ffffff;
      }
    }
  }

}

[class*="template-"]:not(.template-index) {
  div#shopify-section-header {
    background: #fff url(bg_header_full.png) center bottom no-repeat;
    height: 440px;
  }
  .section-header.text-center {
    h1 {
      color: #4b3027;
      font-size: 48px;
      font-weight: 400;
      text-align: center;
      font-family: 'BerkshireSwash-Regular';
    }
  }
  .breadcrumbs {
    margin-bottom: 65px;
    nav.breadcrumb {
      color: #4b3027;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      span {
        color: #aaa92f;
      }
      span.arrow_breadcrums {
        padding: 0 5px;
      }
    }
  }
  #MainContent {
    background-color: #fff;
  }
}

.main-content {
  padding-top: 0;
}

.short-desc {
  color: #4b3027;
  font-size: 17px; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
  min-height: 25px;
}

.wrap-h1 {
  margin-top: 0px;
  margin-bottom: 0;
  h1 {
    margin: 0;
  }
}

.spr-icon {
  color: #eba820;
}

.mobile-nav-wrapper {
  z-index: 9999 !important;
}

.hero__inner {
  z-index: 0;
}


.page-width::after {
  visibility: hidden;
  opacity: 0;
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 8;
  transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
}

.js-drawer-menu::after {
  visibility: visible;
  opacity: 1;
}

.btn-header-close {
  position: absolute;
  right: 25px;
  top: 7px;
  z-index: 12;
  width: 40px;
  height: 40px;
  text-align: center;
}

.mylivechat_collapsed {
  background-color: #aaa92f !important;
  border: #aaa92f !important;
}

.mylivechat_sprite:last-child {
  display: none;
}


[class*="template-"]{
  div#shopify-section-header{
    nav#AccessibleNav {
      margin-right: 30px;
      ul {
        li {
          font-size: 17px;
          font-weight: 300;
          text-align: center;
          padding: 0 10px;
          padding: 7px 20px;
          border-radius: 7px;
          margin-left: 20px;
          a {
            color: #ffffff;
            text-transform: uppercase;
            padding: 0;
            font-weight: 700;
            &:hover{
              cursor: pointer;
            }
          }
          .site-nav__dropdown{
            padding: 30px 20px;
            border: none;
            border-radius: 7px;
            top: 50px;
            box-shadow: 0 3px 5px 0 rgba(0,0,0,.15);
            left: 50%;
            transform: translateX(-50%);
            margin-left: -8px;
            opacity: 0.9;
            &:after{
              content: '';
              display: block;
              position: absolute;
              top: -12px;
              left: 50%;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-bottom: 12px solid #fff;
              margin-left: -6px;
            }
            &:before{
              content: '';
              display: block;
              position: absolute;
              top: -24px;
              width: 100%;
              height: 25px;
              left: 0;
            }
            ul{
              li{
                padding: 0;
                margin: 0;
                text-align: left;
                margin-bottom: 8px;
                a{
                  color: #4b3027;
                  font-size: 16px;
                  font-weight: 400;
                  text-transform: capitalize;
                  &:hover{
                    color:  #aaa92f;
                  }
                }
              }
            }
          }
        }
        //li.site-nav--has-dropdown.site-nav--active-dropdown {
        //  background-color: #aaa92f;
        //  border-color: transparent;
        //  a{
        //    color:  #4b3027;
        //  }
        //}
        //.active-menu{
        //    background-color: #aaa92f;
        //    border-color: transparent;
        //    a{
        //      color:  #4b3027;
        //    }
        //}
      }
    }
  }

}


[class*="template-"]:not(.template-index) {

  div#shopify-section-header{
    nav#AccessibleNav {
      ul {
        li {
          a {
            color: #4b3027;
          }
          .site-nav__dropdown{
            ul{
              li{
                border-color: transparent;
                a{
                  color: #4b3027;
                  &:hover{
                    color:  #aaa92f;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@-moz-document url-prefix() {
  .site-nav--has-dropdown:hover .site-nav__dropdown{
    display: block;
  }
}
#SiteNavLabel-holle{
  ul{
    width: 100px;
  }
}